.main-ClientReview{
  background-color: white;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: italic;
  color: rgb(94, 94, 94);
}

.main-ClientReview h2{
  font-size: 22px;
  width: 80vw;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-ClientReview p{
  font-size: 14px;
}
@media(max-width: 757px){
  .main-ClientReview p{
    font-size: 10px;
  }

  .main-ClientReview h2{
    font-size: 16px;
    width: 80vw;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
